@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-row-between {
  display: flex;
  justify-content: space-between;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}



@mixin screen-device($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (max-width: 520px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $breakpoint) {
      @content;
    }
  }
}
