$primary: #454ade;
$primary-light: #ecedfc;
$primary-dark: #2e32a9;
$success: #3c8031;
$danger: #d90000;
$brown: #a84d08;
$beige: #fdf2e8;
$dark: #0f172a;
$gray500: #696969;
$gray400: #9e9e9e;
$gray300: #d7d7d7;
$gray200: #eaeaea;
$gray100: #f7f7f7;
$white: #ffffff;

$fs-base: 16px;
$fs-tiny: 10px;
$fs-small: 14px;
$fs-medium: 18px;
$fs-large: 21px;
$fs-xlarge: 24px;
$fs-xxlarge: 32px;
$fs-xxxlarge: 40px;
$fs-huge: 48px;
$fs-enormous: 52px
